{% extends '../ui/sidebar.html' %}
{% load static %}
{% load filters %}

{% block name %} {{template_name}} {% endblock name %}
{% block section %}
<div class="absolute inset-0 overflow-x-hidden overflow-y-auto p-4">
    <div class="flex flex-col gap-3">
        <div class="flex flex-col border border-emerald-800 dark:border-emerald-300 rounded-lg component-shadow dark:shadow-lg">
            {% include '../ui/dashboard_card.html' with card_title="About The Project" %}
            <div class="flex flex-col bg-gray-50 dark:bg-cyan-950/80 rounded-b-lg shadow-inner p-5">
                <p class="font-notosans font-medium text-slate-800 dark:text-white text-justify px-5">The project NATROSENSOR aims to develop a multiplex detection device that can be used to detect the presence of various antibiotics for monitoring the success of wastewater treatment facilities. it can also be used to detect the presence of various antibiotics in other substrates such as surface and ground water, and food products such as milk.</p>
            </div>
        </div>
        <div class="flex flex-col border border-emerald-800 dark:border-emerald-300 rounded-lg component-shadow dark:shadow-lg">
            {% include '../ui/dashboard_card.html' with card_title="Partner Agency" %}
            <div class="flex flex-col bg-gray-50 dark:bg-cyan-950/80 rounded-b-lg shadow-inner p-5">
                <div class="flex flex-wrap gap-1 justify-center">
                    {% include '../ui/image.html' with class="flex w-24 h-24" image="dost-logo.jpg" img_class="rounded-lg" %}
                    {% include '../ui/image.html' with class="flex w-24 h-24" image="uplb-logo.jpg" img_class="rounded-lg" %}
                    {% include '../ui/image.html' with class="flex w-24 h-24" image="ceat-logo.jpg" img_class="rounded-lg" %}
                    {% include '../ui/image.html' with class="flex w-24 h-24" image="des-logo.jpg" img_class="rounded-lg" %}
                    {% include '../ui/image.html' with class="flex w-48 h-24" image="biomedical-logo.jpg" img_class="rounded-lg" %}
                </div>
            </div>
        </div>
        <div class="flex flex-col border border-emerald-800 dark:border-emerald-300 rounded-lg component-shadow dark:shadow-lg">
            {% include '../ui/dashboard_card.html' with card_title="Our Team" %}
            <div class="flex flex-col bg-gray-50 dark:bg-cyan-950/80 rounded-b-lg shadow-inner p-5">
                <div class="grid grid-cols-1 sm:grid-cols-2">
                    {% include '../ui/project_staff.html' with image=project_leader.image name=project_leader.name position=project_leader.position extra_classes='sm:col-span-2' %}
                    {% for image, name, position in project_staff %}
                        {% include '../ui/project_staff.html' with image=image name=name position=position %}  
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="flex flex-col border border-emerald-800 dark:border-emerald-300 rounded-lg component-shadow dark:shadow-lg">
            {% include '../ui/dashboard_card.html' with card_title="Innovating the Future of Healthcare" %}
            <div class="flex flex-col bg-gray-50 dark:bg-cyan-950/80 rounded-b-lg shadow-inner p-5">
                <div class="max-w-sm mx-auto">
                    <a href="https://www.facebook.com/UPLBBiomedicalTechnologyAndDevicesLab" target="_blank" class="block group">
                      <div class="relative overflow-hidden rounded-lg component-shadow dark:shadow-lg">
                        <img src="{% static '/natrosensor/assets/biomedical-logo.jpg' %}" class="w-full h-48 object-cover transition-transform duration-300 group-hover:scale-105">
                      </div>
                      <div class="mt-4">
                        <h2 class="text-lg font-semibold text-gray-800 group-hover:text-blue-600 dark:text-[#98ff98] dark:group-hover:text-cyan-300">UPLB Biomedical Technology and Devices Laboratory</h2>
                        <p class="text-sm text-gray-600 dark:text-gray-50">Join us on the journey to revolutionize biomedical science!</p>
                      </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock section %}