<div class="flex flex-col justify-center items-center p-8 gap-3 border-2 border-[#A9A9A9] dark:border-[#7fffd4] rounded-3xl component-shadow dark:shadow-lg bg-[#F9F9F9] dark:bg-[#003e36]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="text-green-600 dark:text-green-500 w-28 h-28">
        {% include path %}
    </svg>
    <span class="font-bold text-2xl text-cyan-950 dark:text-[#98ff98] font-poppins"> {{ title }} </span>
    <span class="font-medium text-lg text-gray-800 dark:text-white text-center font-notosans"> {{ description }} </span>
</div>