<button type="button" hx-get="{% url 'natrosensor:'|add:item %}" hx-trigger="click" hx-target="body" hx-swap="outerHTML" hx-push-url="true" class="relative flex flex-row font-medium items-center h-11 focus:outline-none hover:bg-blue-500/80 text-gray-600 hover:text-gray-800 pr-6 pl-3 hover:pl-4 transition-all duration-300 {% if request.resolver_match.url_name == item or request.resolver_match.url_name == item2 %} bg-gradient-to-r from-blue-700 via-blue-600 to-blue-500 border-r-4 border-green-400 {% endif %}"> 
    <span class="inline-flex justify-center text-white items-center ml-4">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="1.5" xmlns="http://www.w3.org/2000/svg">
        {% include path %}
      </svg>
    </span>
    <span class="ml-3 text-lg text-white tracking-wide truncate font-semibold"> {{item.capitalize}} </span>
</button>