{% extends '../ui/sidebar.html' %}
{% load static %}
{% load filters %}

{% block name %} {{template_name}} {% endblock name %}
{% block section %}
<div hx-get="{% url 'natrosensor:dashboard' %}" hx-trigger="load" hx-target="body" hx-swap="outerHTML">
    <div class="grid md:grid-cols-2 lg:grid-cols-4 p-5 gap-2">
        <div class="flex flex-col md:col-span-2 lg:col-span-4 gap-2 pt-2 pb-1">
            <div class="flex flex-col lg:flex-row lg:justify-between gap-3">
                <div class="animate-pulse flex flex-col items-start gap-3">
                    <div class="h-4 w-72 bg-slate-400 dark:bg-slate-700 rounded"> </div>
                    <div class="h-4 w-60 bg-slate-400 dark:bg-slate-700 rounded"> </div>
                </div>
                <div class="animate-pulse flex lg:flex-col lg:justify-center items-end gap-3">
                    <div class="h-3 w-36 bg-slate-400 dark:bg-slate-700 rounded"> </div>
                    <div class="h-3 w-28 bg-slate-400 dark:bg-slate-700 rounded"> </div>
                </div>
            </div> 
        </div>
        <hr class="border-gray-800 dark:border-gray-300 md:col-span-2 lg:col-span-4 pb-1" />
        <div class="flex flex-col h-60 lg:h-44 bg-gray-400 dark:bg-gray-700 md:col-span-2 aspect-square rounded-lg border border-gray-600"> 
            <div class="flex flex-col w-full h-18 bg-emerald-300/80 dark:bg-emerald-700/75 rounded-t-lg shadow-xl justify-center p-4 gap-3"> 
                <div class="animate-pulse h-3 w-36 bg-slate-300 dark:bg-slate-700 rounded"> </div>
                <div class="animate-pulse h-3 w-44 bg-slate-300 dark:bg-slate-700 rounded"> </div>
            </div>
            <div class="flex flex-col flex-grow bg-white dark:bg-cyan-950/75 text-center rounded-b-lg">
                <div class="animate-pulse h-full w-full bg-slate-400 dark:bg-slate-700 rounded-b-lg"> </div>
            </div>  
        </div>
        <div class="flex flex-col h-60 lg:h-44 bg-gray-400 dark:bg-gray-700 aspect-square rounded-lg border border-gray-600"> 
            <div class="flex flex-col w-full h-18 bg-emerald-300/80 dark:bg-emerald-700/75 rounded-t-lg shadow-xl justify-center p-4 gap-3"> 
                <div class="animate-pulse h-3 w-36 bg-slate-300 dark:bg-slate-700 rounded"> </div>
                <div class="animate-pulse h-3 w-44 bg-slate-300 dark:bg-slate-700 rounded"> </div>
            </div>
            <div class="flex flex-col flex-grow bg-white dark:bg-cyan-950/80 justify-center items-center rounded-b-lg">
                <div class="animate-pulse h-full w-full bg-slate-400 dark:bg-slate-700 rounded-b-lg"> </div>
            </div>  
        </div>
        <div class="flex flex-col h-60 lg:h-44 bg-gray-400 dark:bg-gray-700 aspect-square rounded-lg border border-gray-600"> 
            <div class="flex flex-col w-full h-18 bg-emerald-300/80 dark:bg-emerald-700/75 rounded-t-lg shadow-xl justify-center p-4 gap-3"> 
                <div class="animate-pulse h-3 w-36 bg-slate-300 dark:bg-slate-700 rounded"> </div>
                <div class="animate-pulse h-3 w-44 bg-slate-300 dark:bg-slate-700 rounded"> </div>
            </div>
            <div class="flex flex-col flex-grow bg-white dark:bg-cyan-950/80 justify-center items-center rounded-b-lg">
                <div class="animate-pulse h-full w-full bg-slate-400 dark:bg-slate-700 rounded-b-lg"> </div>
            </div>  
        </div>
        <div class="flex flex-col h-80 bg-gray-400 dark:bg-gray-700 md:col-span-2 aspect-square rounded-lg border border-gray-600"> 
            <div class="flex flex-col w-full h-18 bg-emerald-300/80 dark:bg-emerald-700/75 rounded-t-lg shadow-xl justify-center p-4 gap-3"> 
                <div class="animate-pulse h-3 w-36 bg-slate-300 dark:bg-slate-700 rounded"> </div>
                <div class="animate-pulse h-3 w-44 bg-slate-300 dark:bg-slate-700 rounded"> </div>
            </div>
            <div class="flex flex-col flex-grow bg-white dark:bg-cyan-950/80 rounded-b-lg">
                <div class="animate-pulse h-full w-full bg-slate-400 dark:bg-slate-700 rounded-b-lg"> </div>
            </div>  
        </div>
        <div class="flex flex-col h-80 bg-gray-400 dark:bg-gray-700 md:col-span-2 aspect-square rounded-lg border border-gray-600"> 
            <div class="flex flex-col w-full h-18 bg-emerald-300/80 dark:bg-emerald-700/75 rounded-t-lg shadow-xl justify-center p-4 gap-3"> 
                <div class="animate-pulse h-3 w-36 bg-slate-300 dark:bg-slate-700 rounded"> </div>
                <div class="animate-pulse h-3 w-44 bg-slate-300 dark:bg-slate-700 rounded"> </div>
            </div>
            <div class="flex flex-col flex-grow bg-white dark:bg-cyan-950/80 rounded-b-lg">
                <div class="animate-pulse h-full w-full bg-slate-400 dark:bg-slate-700 rounded-b-lg"> </div>
            </div>  
        </div>
    </div> 
</div>
{% endblock section %}