{% extends "./sidebar.html" %}
{% load static %}

{% block subcontent %}
<div class="flex flex-col flex-grow top-16 bottom-0 right-0 overflow-y-auto overflow-x-hidden bg-gray-100 dark:bg-dark-primary gap-3 p-5 shadow-inner">
    <div class="flex px-1 justify-between items-center">
        <div class="flex flex-col">
            <span class="font-semibold font-poppins text-2xl dark:text-white"> Welcome back, {{first_name}}! </span>
            <span class="font-poppins text-sm dark:text-gray-300"> Here is a quick overview of your dashboard. </span>
        </div>
        <div x-data="clock" class="flex flex-col text-end">
            <span x-text="date" class="dark:text-white font-semibold font-notosans"></span>
            <span x-text="time" class="dark:text-white font-semibold font-notosans"></span>
        </div>
    </div>
    <hr />
    <div class="flex flex-col">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 w-full gap-3">
            <div class="relative flex flex-col bg-white dark:bg-dark-secondary h-auto col-span-1 sm:col-span-2 rounded-lg shadow-2xl">
                <div class="flex flex-col dark:bg-dark-alt rounded-t-lg px-5 py-3">
                    <span class="font-notosans font-semibold text-xl dark:text-white"> Recent Process </span>
                    <span class="font-notosans text-xs text-justify dark:text-white"> Your recent process of the calibration model </span>
                </div>
                {% if process.count != 0  %}
                    <div class="grid grid-cols-3 h-full rounded-lg p-5 gap-2">
                        <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                            <span class="text-black dark:text-white"> Name </span>
                            <span class="text-sm text-gray-700 dark:text-gray-300 ps-2"> {{process.first.getData.name}} </span>
                        </div>
                        <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                            <span class="text-black dark:text-white"> Antibiotics </span>
                            <span class="text-sm text-gray-700 dark:text-gray-300 ps-2"> {{process.first.getData.antibiotics}} </span>
                        </div>
                        <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                            <span class="text-black dark:text-white"> Details </span>
                            <button type="button" @click="purpose = 'Recent'" class="w-24 items-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 text-center">View</button>
                        </div>
                        <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                            <span class="text-black dark:text-white"> Date </span>
                            <span class="text-sm text-gray-700 dark:text-gray-300 ps-2"> {{process.first.getData.created_date}} </span>
                        </div>
                        <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                            <span class="text-black dark:text-white"> Time </span>
                            <span class="text-sm text-gray-700 dark:text-gray-300 ps-2"> {{process.first.getData.created_time}} </span>
                        </div>  
                    </div>
                {% else %}
                    <div class="grid h-full rounded-lg px-5 py-8">
                        <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                            <span class="text-black dark:text-white"> No recent process </span>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="flex flex-col bg-white dark:bg-dark-secondary h-auto rounded-lg shadow-2xl">
                <div class="flex flex-col dark:bg-dark-alt rounded-t-lg px-5 py-3">
                    <span class="font-notosans font-semibold text-xl dark:text-white"> Total Process </span>
                    <span class="font-notosans text-xs text-justify dark:text-white"> The total number of your processes </span>
                </div>
                <div class="flex flex-col justify-center items-center h-full px-5 py-8">
                    <span class="font-notosans font-bold text-6xl dark:text-white"> {{process.count}} </span>
                </div>
            </div>
            <div class="flex flex-col bg-white dark:bg-dark-secondary h-auto rounded-lg shadow-2xl">
                <div class="flex flex-col dark:bg-dark-alt rounded-t-lg px-5 py-3">
                    <span class="font-notosans font-semibold text-xl dark:text-white"> Total User </span>
                    <span class="font-notosans text-xs text-justify dark:text-white"> The total number of registered users </span>
                </div>
                <div class="flex flex-col justify-center items-center h-full px-5 py-8">
                    <span class="font-notosans font-bold text-6xl dark:text-white"> {{user_count}} </span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col flex-grow h-full">
        <div class="grid grid-cols-1 md:grid-cols-2 w-full h-full gap-3">
            <div class="flex flex-col bg-white dark:bg-dark-secondary h-auto md:h-full rounded-lg shadow-2xl">
                <div class="flex flex-col dark:bg-dark-alt rounded-t-lg px-5 py-3">
                    <span class="font-notosans font-semibold text-xl dark:text-white"> Graph </span>
                    <span class="font-notosans text-xs dark:text-white"> The total number of processes within the week </span>
                </div>
                <div class="relative flex flex-col justify-center items-center">
                    <img src="{{graph}}">
                </div>
            </div>
            <div class="relative flex flex-col bg-white dark:bg-dark-secondary h-auto md:h-full rounded-lg shadow-2xl">
                <div class="flex flex-col dark:bg-dark-alt rounded-t-lg px-5 py-3">
                    <span class="font-notosans font-semibold text-xl dark:text-white"> Schedule </span>
                    <span class="font-notosans text-xs dark:text-white"> The planning of events begins with the upcoming ones </span>
                </div>
                <div class="flex flex-col w-full h-full overflow-x-hidden overflow-y-auto shadow-xl p-4 gap-1">
                    {% if events.count != 0 %}
                        {% for event in events %}
                            <div class="flex flex-col p-4 dark:bg-[#122d2d] rounded-lg shadow-lg mb-2">
                                {% for key, value in event.getData.items %}
                                    {% if key == "date" %}
                                        <span class="font-poppins font-semibold text-xs text-gray-800 dark:text-white"> {{value}} - 
                                    {% elif key == "time" %}
                                        {{value}} </span>
                                    {% elif key == "name" %}
                                        <span class="font-poppins font-semibold text-gray-800 dark:text-white"> {{ value }} </span>
                                    {% endif %}  
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <span class="font-poppins font-semibold text-white"> No upcoming events </span>
                    {% endif %} 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock subcontent %}

{% block modal %}
<div class="fixed inset-0 bg-black bg-opacity-50 z-50 hidden" :class="{'hidden': purpose != 'Recent'}">
    <div class="flex flex-col items-center justify-center h-screen p-6">    
        <div class="flex justify-between dark:bg-dark-alt w-full max-w-lg rounded-t-lg shadow-lg px-6 py-3">
            <span class="text-white text-lg font-poppins font-bold"> Recent Process </span>
            <button type="button" @click="purpose = '', result = ''" id="close-btn" class="justify-end items-center text-white bg-white/0 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="font-bold size-6">
                    <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>  
            </button>
        </div>
        <div class="flex flex-col overflow-x-hidden overflow-y-auto bg-white dark:bg-dark-secondary p-6 shadow-lg w-full max-w-lg mx-4 gap-2">
            <div class="grid grid-cols-2 gap-2">
                <div class="relative flex flex-col text-white font-poppins font-bold gap-1">
                    <span class="text-lg"> Concentration </span>
                    <span class="text-sm text-gray-300 ps-2"> {{process.first.getData.concentration}} </span>
                </div>
                <div class="relative flex flex-col text-white font-poppins font-bold gap-1">
                    <span class="text-lg"> Absorbance </span>
                    <span class="text-sm text-gray-300 ps-2"> {{process.first.getData.absorbance}} </span>
                </div>
                <div class="flex flex-col col-span-2">
                    <hr class="my-3" />
                </div>
                <div class="relative flex flex-col col-span-2 text-white font-poppins font-bold gap-1">
                    <span class="text-lg"> 4PL Graph </span>
                    <img src="{{process.first.getData.graph}}">
                </div>
                <div class="flex flex-col col-span-2">
                    <hr class="my-3" />
                </div>
                <div class="flex flex-col col-span-2 font-poppins font-bold text-white pb-1">
                    <span class="text-lg"> Process Details </span>
                </div>
                <div class="flex flex-col col-span-2 text-white font-notosans font-semibold gap-1">
                    <span> Name </span>
                    <span class="text-sm text-gray-300 ps-2"> {{process.first.getData.name}} </span>
                </div>
                <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                    <span> Antibiotics </span>
                    <span class="text-sm text-gray-300 ps-2"> {{process.first.getData.antibiotics}} </span>
                </div>
                <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                    <span> Date </span>
                    <span class="text-sm text-gray-300 ps-2"> {{process.first.getData.created_date}} </span>
                </div>
                <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                    <span> Time </span>
                    <span class="text-sm text-gray-300 ps-2"> {{process.first.getData.created_time}} </span>
                </div>   
                <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                    <span> Trial </span>
                    <span class="text-sm text-gray-300 ps-2"> {{process.first.getData.trial}} </span>
                </div>
                <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                    <span> Temperature </span>
                    <span class="text-sm text-gray-300 ps-2"> 
                        {% if process.first.getData.temperature != '' %}
                            {{process.first.getData.temperature}}
                        {% else %}
                            N/A
                        {% endif %}
                    </span>
                </div>
                <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                    <span> pH </span>
                    <span class="text-sm text-gray-300 ps-2">
                        {% if process.first.getData.ph != '' %}
                            {{process.first.getData.ph}} 
                        {% else %}
                            N/A
                        {% endif %}
                    </span>
                </div>
                <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                    <span> Note </span>
                    <span class="text-sm text-gray-300 ps-2">
                        {% if process.first.getData.note != '' %}
                            {{process.first.getData.note}} 
                        {% else %}
                            N/A
                        {% endif %}
                    </span>
                </div>
                <div class="flex flex-col col-span-2">
                    <hr class="my-3" />
                </div>
                <div class="flex flex-col col-span-2 font-poppins font-bold text-white pb-1">
                    <span class="text-lg"> Location Details </span>
                </div>
                <div class="flex flex-col col-span-2 text-white font-notosans font-semibold gap-1">
                    <span> Address </span>
                    <span class="text-sm text-gray-300 ps-2">
                        {% if process.first.getData.address != '' %}
                            {{process.first.getData.address}}
                        {% else %}
                            N/A
                        {% endif %}
                    </span>
                </div>
                <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                    <span> Barangay </span>
                    <span class="text-sm text-gray-300 ps-2">
                        {% if process.first.getData.barangay != '' %}
                            {{process.first.getData.barangay}} 
                        {% else %}
                            N/A
                        {% endif %}
                    </span>
                </div>
                <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                    <span> Municipality </span>
                    <span class="text-sm text-gray-300 ps-2">
                        {% if process.first.getData.municipality != '' %}
                            {{process.first.getData.municipality}} 
                        {% else %}
                            N/A
                        {% endif %}
                    </span>
                </div>
                <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                    <span> Province </span>
                    <span class="text-sm text-gray-300 ps-2">
                        {% if process.first.getData.province != '' %}
                            {{process.first.getData.province}}
                        {% else %}
                            N/A
                        {% endif %}
                    </span>
                </div>
                <div class="flex flex-col text-white font-notosans font-semibold gap-1">
                    <span> Region </span>
                    <span class="text-sm text-gray-300 ps-2"> 
                        {% if process.first.getData.region != '' %}
                            {{process.first.getData.region}}
                        {% else %}
                            N/A
                        {% endif %} 
                    </span>
                </div>
            </div> 
        </div>
        <div class="flex justify-between dark:bg-dark-alt w-full max-w-lg rounded-b-lg shadow-lg px-6 py-3">
        </div>
    </div>
</div>
{% endblock modal %}