{% extends "./sidebar.html" %}
{% load static %}

{% block subcontent %}
<div class="flex flex-col flex-grow top-16 bottom-0 right-0 overflow-y-auto overflow-x-hidden bg-gray-100 dark:bg-dark-primary gap-3 p-5 shadow-inner">
    <div class="flex px-1 justify-between items-center">
        <div class="flex flex-col">
            <span class="font-semibold font-poppins text-2xl dark:text-white"> Welcome back, {{first_name}}! </span>
            <span class="font-poppins text-sm dark:text-gray-300"> Here is a quick overview of your dashboard. </span>
        </div>
        <div x-data="clock" class="flex flex-col text-end">
            <span x-text="date" class="dark:text-white font-semibold font-notosans"></span>
            <span x-text="time" class="dark:text-white font-semibold font-notosans"></span>
        </div>
    </div>
    <div class="flex flex-col">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 w-full gap-3">
            <div class="flex flex-col bg-white dark:bg-dark-secondary p-5 h-52 col-span-1 sm:col-span-2 rounded-lg shadow-2xl">
                <span class="font-notosans font-semibold text-xl dark:text-white"> Recent Process </span>
                <span class="font-notosans text-xs text-justify dark:text-white"> Your recent process of the calibration model </span>
            </div>
            <div class="flex flex-col bg-white dark:bg-dark-secondary p-5 h-52 rounded-lg shadow-2xl">
                <span class="font-notosans font-semibold text-xl dark:text-white"> Total Process </span>
                <span class="font-notosans text-xs text-justify dark:text-white"> The total number of your processes </span>
                <div class="flex flex-col justify-center items-center h-full">
                    <span class="font-notosans font-bold text-6xl dark:text-white"> {{process_count}} </span>
                </div>
            </div>
            <div class="flex flex-col bg-white dark:bg-dark-secondary p-5 h-52 rounded-lg shadow-2xl">
                <span class="font-notosans font-semibold text-xl dark:text-white"> Total User </span>
                <span class="font-notosans text-xs text-justify dark:text-white"> The total number of registered users </span>
                <div class="flex flex-col justify-center items-center h-full">
                    <span class="font-notosans font-bold text-6xl dark:text-white"> {{user_count}} </span>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col flex-grow h-full">
        <div class="grid grid-cols-1 md:grid-cols-2 w-full h-full gap-3">
            <div class="flex flex-col bg-white dark:bg-dark-secondary p-5 h-64 md:h-full rounded-lg shadow-2xl">
                <span class="font-notosans font-semibold text-xl dark:text-white"> Graph </span>
                <span class="font-notosans text-xs dark:text-white"> The total number of processes within the week/month </span>
            </div>
            <div class="relative flex flex-col bg-white dark:bg-dark-secondary p-5 h-64 md:h-full rounded-lg shadow-2xl">
                <span class="font-notosans font-semibold text-xl dark:text-white"> Schedule </span>
                <span class="font-notosans text-xs dark:text-white"> The planning of events begins with the upcoming ones </span>
                <div class="flex flex-col dark:bg-[#487e69] w-full h-full overflow-x-hidden overflow-y-auto shadow-inner rounded-lg mt-3 p-2 gap-1">
                    {% if events.count != 0 %}
                        {% for event in events %}
                            <div class="flex flex-col p-4 dark:bg-dark-alt rounded-lg shadow-lg mb-2">
                                {% for key, value in event.getData.items %}
                                    {% if key == "date" %}
                                        <span class="font-poppins font-semibold text-xs text-gray-800 dark:text-white"> {{value}} - 
                                    {% elif key == "time" %}
                                        {{value}} </span>
                                    {% elif key == "name" %}
                                        <span class="font-poppins font-semibold text-gray-800 dark:text-white"> {{ value }} </span>
                                    {% endif %}  
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <span class="font-poppins font-semibold text-white"> No upcoming events </span>
                    {% endif %} 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock subcontent %}