{% extends "./sidebar.html" %}
{% load static %}

{% block subcontent %}
<div class="flex flex-col flex-grow overflow-y-auto overflow-x-hidden bg-white dark:bg-dark-primary h-screen p-8">
    <div class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">
        <div>
            <button id="dropdownRadioButton" data-dropdown-toggle="dropdownRadio" class="inline-flex items-center text-gray-500 bg-white dark:bg-dark-alt border border-gray-300 focus:outline-none hover:bg-gray-100 dark:hover:bg-gray-800 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5" type="button">
                <svg class="w-3 h-3 text-gray-500 dark:text-white me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
                    </svg>
                <span class="dark:text-white">Last 30 days</span>
                <svg class="w-2.5 h-2.5 ms-2.5 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownRadio" class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="top" style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(522.5px, 3847.5px, 0px);">
                <ul class="p-3 space-y-1 text-sm text-gray-700" aria-labelledby="dropdownRadioButton">
                    <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100">
                            <input id="filter-radio-example-1" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                            <label for="filter-radio-example-1" class="w-full ms-2 text-sm font-medium text-gray-900 rounded">Last day</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100">
                            <input checked="" id="filter-radio-example-2" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                            <label for="filter-radio-example-2" class="w-full ms-2 text-sm font-medium text-gray-900 rounded">Last 7 days</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100">
                            <input id="filter-radio-example-3" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                            <label for="filter-radio-example-3" class="w-full ms-2 text-sm font-medium text-gray-900 rounded">Last 30 days</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100">
                            <input id="filter-radio-example-4" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                            <label for="filter-radio-example-4" class="w-full ms-2 text-sm font-medium text-gray-900 rounded">Last month</label>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100">
                            <input id="filter-radio-example-5" type="radio" value="" name="filter-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                            <label for="filter-radio-example-5" class="w-full ms-2 text-sm font-medium text-gray-900 rounded">Last year</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-white" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input type="text" id="table-search" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 dark:bg-dark-contrast focus:ring-blue-500 focus:border-blue-500" placeholder="Search for items">
        </div>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-white uppercase bg-cyan-950">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Datetime
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Location
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Antibiotics
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white dark:bg-dark-alt border-b hover:bg-gray-50 dark:hover:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-cyan-400 whitespace-nowrap">
                        Test 1
                    </th>
                    <td class="px-6 py-4 dark:text-white">
                        23 Jan 2024 09:00 AM
                    </td>
                    <td class="px-6 py-4 dark:text-white">
                        Los Ba&ntilde;os, Laguna
                    </td>
                    <td class="px-6 py-4 dark:text-white">
                        Antibiotics 1
                    </td>
                    <td class="px-6 py-4">
                        <a href="#" class="font-medium text-blue-600 dark:text-cyan-400 hover:underline">View</a>
                    </td>
                </tr>
                <tr class="bg-white dark:bg-dark-alt border-b hover:bg-gray-50 dark:hover:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-cyan-400 whitespace-nowrap">
                        Test 2
                    </th>
                    <td class="px-6 py-4 dark:text-white">
                        22 Jan 2024 09:00 AM
                    </td>
                    <td class="px-6 py-4 dark:text-white">
                        Los Ba&ntilde;os, Laguna
                    </td>
                    <td class="px-6 py-4 dark:text-white">
                        Antibiotics 2
                    </td>
                    <td class="px-6 py-4">
                        <a href="#" class="font-medium text-blue-600 dark:text-cyan-400 hover:underline">View</a>
                    </td>
                </tr>
                <tr class="bg-white dark:bg-dark-alt border-b hover:bg-gray-50 dark:hover:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-cyan-400 whitespace-nowrap">
                        Test 3
                    </th>
                    <td class="px-6 py-4 dark:text-white">
                        21 Jan 2024 09:00 AM
                    </td>
                    <td class="px-6 py-4 dark:text-white">
                        Los Ba&ntilde;os, Laguna
                    </td>
                    <td class="px-6 py-4 dark:text-white">
                        Antibiotics 3
                    </td>
                    <td class="px-6 py-4">
                        <a href="#" class="font-medium text-blue-600 dark:text-cyan-400 hover:underline">View</a>
                    </td>
                </tr>
                <tr class="bg-white dark:bg-dark-alt border-b hover:bg-gray-50 dark:hover:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-cyan-400 whitespace-nowrap">
                        Test 4
                    </th>
                    <td class="px-6 py-4 dark:text-white">
                        20 Jan 2024 09:00 AM
                    </td>
                    <td class="px-6 py-4 dark:text-white">
                        Los Ba&ntilde;os, Laguna
                    </td>
                    <td class="px-6 py-4 dark:text-white">
                        Antibiotics 4
                    </td>
                    <td class="px-6 py-4">
                        <a href="#" class="font-medium text-blue-600 dark:text-cyan-400 hover:underline">View</a>
                    </td>
                </tr>
                <tr class="bg-white dark:bg-dark-alt border-b hover:bg-gray-50 dark:hover:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-cyan-400 whitespace-nowrap">
                        Test 5
                    </th>
                    <td class="px-6 py-4 dark:text-white">
                        19 Jan 2024 09:00 AM
                    </td>
                    <td class="px-6 py-4 dark:text-white">
                        Los Ba&ntilde;os, Laguna
                    </td>
                    <td class="px-6 py-4 dark:text-white">
                        Antibiotics 5
                    </td>
                    <td class="px-6 py-4">
                        <a href="#" class="font-medium text-blue-600 dark:text-cyan-400 hover:underline">View</a>
                    </td>
                </tr>
                <tr class="bg-white dark:bg-dark-alt hover:bg-gray-50 dark:hover:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-cyan-400 whitespace-nowrap">
                        Test 6
                    </th>
                    <td class="px-6 py-4 dark:text-white">
                        18 Jan 2024 09:00 AM
                    </td>
                    <td class="px-6 py-4 dark:text-white">
                        Los Ba&ntilde;os, Laguna
                    </td>
                    <td class="px-6 py-4 dark:text-white">
                        Antibiotics 6
                    </td>
                    <td class="px-6 py-4">
                        <a href="#" class="font-medium text-blue-600 dark:text-cyan-400 hover:underline">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4" aria-label="Table navigation">
        <span class="text-sm font-normal text-gray-500 mb-4 md:mb-0 block w-full md:inline md:w-auto dark:text-white">Showing <span class="font-semibold text-gray-900 dark:text-cyan-400">1-10</span> of <span class="font-semibold text-gray-900 dark:text-cyan-400">1000</span></span>
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
            <li>
                <a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 dark:text-white bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-dark-alt">Previous</a>
            </li>
            <li>
                <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 dark:text-white bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-dark-alt">1</a>
            </li>
            <li>
                <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 dark:text-white bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-dark-alt">2</a>
            </li>
            <li>
                <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 dark:text-cyan-400 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:bg-dark-alt">3</a>
            </li>
            <li>
                <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 dark:text-white bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-dark-alt">4</a>
            </li>
            <li>
                <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 dark:text-white bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-dark-alt">5</a>
            </li>
            <li>
        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 dark:text-white bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-dark-alt">Next</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock subcontent %}