{% extends "./sidebar.html" %}
{% load static %}

{% block subcontent %}
<div x-data="{index: 1}" class="flex flex-col flex-grow overflow-y-auto overflow-x-hidden bg-gray-100 dark:bg-dark-primary h-screen p-5 gap-3">
    <div class="flex flex-col flex-grow h-full gap-2" x-data="calendar" x-init="init" :class="{'hidden': index != 1}">
        <div class="flex w-full gap-3">
            <div class="flex flex-1 items-center justify-between">
                <button @click="prevMonth" type="button" class="w-20 flex justify-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center gap-2">Previous</button>
                <span x-ref="monthYear" class="text-center text-lg font-semibold dark:text-white"></span>
                <button @click="nextMonth" type="button" class="w-20 flex justify-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center gap-2">Next</button>
            </div>
            <button @click="purpose = 'Add Event'" type="button" class="flex items-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center gap-2"> 
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-full w-auto text-white">
                    <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                </svg>
            </button>
        </div>
        <hr /> 
        <div class="grid grid-cols-7 gap-1 text-center font-semibold text-gray-800">
            <div class="bg-blue-100 dark:bg-dark-contrast rounded-lg">Sun</div>
            <div class="bg-blue-100 dark:bg-dark-contrast rounded-lg">Mon</div>
            <div class="bg-blue-100 dark:bg-dark-contrast rounded-lg">Tue</div>
            <div class="bg-blue-100 dark:bg-dark-contrast rounded-lg">Wed</div>
            <div class="bg-blue-100 dark:bg-dark-contrast rounded-lg">Thu</div>
            <div class="bg-blue-100 dark:bg-dark-contrast rounded-lg">Fri</div>
            <div class="bg-blue-100 dark:bg-dark-contrast rounded-lg">Sat</div>
        </div>
        <div class="relative grid grid-cols-7 h-full auto-rows-fr gap-1 text-gray-800">
            <template x-data="{ day: day }" x-for="(day, index) in days" :key="index">
                <button @click="day.date != '' ? (purpose = 'View Event', result = day) : purpose = ''" type="button" :class="{'dark:bg-dark-contrast': day.current && !day.today, 'bg-blue-500': day.today, 'text-gray-500/0 cursor-default': !day.current, 'hover:bg-gray-400': day.date != ''}" class="flex flex-col w-full h-full p-2 rounded">
                    <div class="rounded-lg" :class="{'dark:text-white': day.today}">
                        <span x-text="day.date" class="font-poppins font-semibold"></span>
                    </div>
                </button>
            </template>
        </div>
    </div>
</div>
{% endblock subcontent %}

{% block modal %}
<div class="fixed inset-0 bg-black bg-opacity-50 z-50 hidden" :class="{'hidden': purpose != 'View Event'}">
    <div class="flex flex-col items-center justify-center h-screen p-6">    
        <div class="flex justify-between dark:bg-dark-alt w-full max-w-lg rounded-t-lg shadow-lg px-6 py-3">
            <span class="text-white text-lg font-poppins font-bold"> Scheduled Events </span>
            <button type="button" @click="purpose = '', result = ''" id="close-btn" class="justify-end items-center text-white bg-white/0 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="font-bold size-6">
                    <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>  
            </button>
        </div>
        <div class="flex flex-col overflow-x-hidden overflow-y-auto bg-white dark:bg-dark-secondary px-6 py-3 shadow-lg w-full max-w-lg h-1/2 mx-4 gap-2">
            <div class="flex justify-between">
                <span class="text-white text-lg font-poppins font-bold" x-text="result.stringDate"></span>
            </div>
            <hr />
            {% for event in events %}
                <div :class="{'hidden': result.stringDate !== '{{ event.getDate }}'}" class="flex flex-col p-4 dark:bg-[#122d2d] rounded-lg shadow-lg mb-2">
                    {% for key, value in event.getData.items %}
                        {% if key == "date" %}
                            <span class="font-poppins font-semibold text-xs text-gray-800 dark:text-white"> {{value}} - 
                        {% elif key == "time" %}
                            {{value}} </span>
                        {% elif key == "name" %}
                            <span class="font-poppins font-semibold text-gray-800 dark:text-white"> {{ value }} </span>
                        {% endif %}  
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="flex justify-between dark:bg-dark-alt w-full max-w-lg rounded-b-lg shadow-lg px-6 py-3">
        </div>
    </div>
</div>

<div class="fixed inset-0 bg-black bg-opacity-50 z-50 hidden" :class="{'hidden': purpose != 'Add Event'}">
    <div class="flex flex-col items-center justify-center h-screen p-6">    
        <div class="flex justify-between dark:bg-dark-alt w-full max-w-lg rounded-t-lg shadow-lg px-6 py-3">
            <span class="text-white text-lg font-poppins font-bold"> Add Event</span>
            <button type="button" @click="purpose = ''" id="close-btn" class="justify-end items-center text-white bg-white/0 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="font-bold size-6">
                    <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>  
            </button>
        </div>
        <div class="flex flex-col overflow-x-hidden overflow-y-auto bg-white dark:bg-dark-secondary p-6 shadow-lg w-full max-w-lg mx-4 gap-2">
            <form method="POST" class="flex flex-col gap-2">
                {% csrf_token %}
                <div class="px-6 mb-4">
                    <label for="event_name" class="block ms-2 mb-2 text-md font-medium text-gray-900 dark:text-white">Event Name</label>
                    <input type="text" id="event_name" name="event_name" x-model="name" class="block justify-between items-center rounded-lg ps-2 px-2.5 py-3 w-full text-sm font-semibold text-gray-900 bg-gray-50 dark:bg-dark-contrast border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-cyan-600 shadow-sm" placeholder="Event Name"/>
                </div>
                <div class="px-6 mb-4">
                    <label for="event_date" class="block ms-2 mb-2 text-md font-medium text-gray-900 dark:text-white">Date</label>
                    <input type="text" id="event_date" name="event_date" x-model="date" class="block justify-between items-center rounded-lg ps-2 px-2.5 py-3 w-full text-sm font-semibold text-gray-900 bg-gray-50 dark:bg-dark-contrast border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-cyan-600 shadow-sm" placeholder="Event Date"/>
                </div>
                <div class="px-6 mb-4">
                    <label for="event_time" class="block ms-2 mb-2 text-md font-medium text-gray-900 dark:text-white">Time</label>
                    <input type="text" id="event_time" name="event_time" x-model="time" class="block justify-between items-center rounded-lg ps-2 px-2.5 py-3 w-full text-sm font-semibold text-gray-900 bg-gray-50 dark:bg-dark-contrast border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-cyan-600 shadow-sm" placeholder="Event Time"/>
                </div>
                <div class="px-6 mb-4">
                    <label for="event_detail" class="block ms-2 mb-2 text-md font-medium text-gray-900 dark:text-white">Event Detail</label>
                    <input type="text" id="event_detail" name="event_detail" x-model="detail" class="block justify-between items-center rounded-lg ps-2 px-2.5 py-3 w-full text-sm font-semibold text-gray-900 bg-gray-50 dark:bg-dark-contrast border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-cyan-600 shadow-sm" placeholder="Event Detail"/>
                </div>
                <div class="flex justify-end">
                    <button @click="purpose = ''" type="submit" class="w-24 items-center text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4">Save</button>
                </div>               
            </form> 
        </div>
        <div class="flex justify-between dark:bg-dark-alt w-full max-w-lg rounded-b-lg shadow-lg px-6 py-3">
        </div>
    </div>
</div>
{% endblock modal %}