{% extends "./base.html" %}
{% load static %}
{% load filters %}

{% block content %}
<div class="flex flex-col flex-grow overflow-y-auto overflow-x-hidden align-middle justify-center h-screen antialiased">
    <div x-data="{step: 1}" class="grid grid-cols-12 text-white align-middle justify-center">
        <div class="hidden md:block col-start-2 col-span-4 rounded-l-lg bg-gradient-to-r from-cyan-900/90 to-cyan-950/90">
            <div class="flex flex-col h-full align-middle justify-center items-center mx-auto p-2">          
                <ol class="space-y-4 w-full p-5">
                    <li class="ms-2">           
                        <span class="bg-gradient-to-r from-green-400 via-green-500 to-green-600 bg-clip-text text-transparent text-2xl font-extrabold">NATRO<span class="text-white">SENSOR Account</span></span>
                    </li>
                    <li>
                        <div class="w-full p-4 border rounded-lg" :class="{'text-green-700 border-green-300 bg-green-50': step != 1, 'text-blue-700 bg-blue-100 border-blue-300': step == 1}" role="alert">
                            <div class="flex items-center justify-between">
                                <span class="sr-only">Account Info</span>
                                <h3 class="font-medium">1. Account Info</h3>
                                <svg class="w-4 h-4" :class="{'hidden': step == 1}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                                </svg>
                                <svg class="rtl:rotate-180 w-4 h-4" :class="{'hidden': step != 1}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w-full p-4 border rounded-lg" :class="{'text-gray-900 bg-gray-100 border-gray-300': step < 2, 'text-green-700 border-green-300 bg-green-50': step > 2, 'text-blue-700 bg-blue-100 border-blue-300': step == 2}" role="alert">
                            <div class="flex items-center justify-between">
                                <span class="sr-only">Profile Info</span>
                                <h3 class="font-medium">2. Profile Info</h3>
                                <svg class="w-4 h-4" :class="{'hidden': step <= 2}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                                </svg>
                                <svg class="rtl:rotate-180 w-4 h-4" :class="{'hidden': step != 2}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w-full p-4 border rounded-lg" :class="{'text-gray-900 bg-gray-100 border-gray-300': step < 3, 'text-green-700 border-green-300 bg-green-50': step > 3, 'text-blue-700 bg-blue-100 border-blue-300': step == 3}" role="alert">
                            <div class="flex items-center justify-between">
                                <span class="sr-only">Verification</span>
                                <h3 class="font-medium">3. Verification</h3>
                                <svg class="w-4 h-4" :class="{'hidden': step <= 3}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                                </svg>
                                <svg class="rtl:rotate-180 w-4 h-4" :class="{'hidden': step != 3}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </div>
                        </div>
                    </li>
                    <li class="ms-2">
                        <span class="justify-center"> Already have an account? <a href="{% url 'natrosensor:login' %}" class="font-medium text-cyan-400 hover:underline"> Login </a></span>
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-start-2 col-span-10 sm:col-start-3 sm:col-span-8 md:col-end-12 md:col-span-6 bg-white rounded-lg md:rounded-l-none md:rounded-r-lg p-8">
            <form method="POST" hx-encoding='multipart/form-data' class="flex flex-col w-full h-full mx-auto lg:px-6">
                {% csrf_token %}
                <div class="flex flex-col w-full h-full" :class="{'hidden': step != 1}">
                    <div class="flex justify-between items-center ms-2 mb-7">
                        <h3 class="text-2xl font-bold text-black">Account Info</h3>
                        <a href="{% url 'natrosensor:login' %}" class="font-medium text-cyan-400 hover:underline block md:hidden me-2"> Login </a>
                    </div>
                    <div class="relative mb-5">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                                <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                                <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                            </svg>
                        </div>
                        {{ form.email|addClass:'block rounded-lg ps-10 px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-cyan-600 peer'}}
                        <label for="email_signup" class="absolute ps-10 text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email Address</label>
                    </div>
                    <div class="relative mb-5">  
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">  
                            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" className="w-6 h-6">
                                <path fillRule="evenodd" d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z" clipRule="evenodd" />
                            </svg>  
                        </div>        
                        {{ form.password1|addClass:'block rounded-lg ps-10 px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-cyan-600 peer'}}
                        <label for="password_signup" class="absolute ps-10 text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Password</label>
                    </div>
                    <div class="relative mb-8">  
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">  
                            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" className="w-6 h-6">
                                <path fillRule="evenodd" d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z" clipRule="evenodd" />
                            </svg>  
                        </div>        
                        {{ form.password2|addClass:'block rounded-lg ps-10 px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-cyan-600 peer'}}
                        <label for="password_confirm" class="absolute ps-10 text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Confirm Password</label>
                    </div>  
                    <div class="flex justify-end mt-auto px-1">
                        <button @click="step = 2" type="button" class="w-24 items-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2">Next</button>
                    </div>                  
                </div> 
                <div class="flex flex-col w-full h-full hidden" :class="{'hidden': step != 2}">
                    <div class="flex justify-between items-center ms-2 mb-7">
                        <h3 class="text-2xl font-bold text-black">Profile Info</h3>
                        <a href="{% url 'natrosensor:login' %}" class="font-medium text-cyan-400 hover:underline block md:hidden me-2"> Login </a>
                    </div>
                    <div class="relative mb-5">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                                <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                                <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                            </svg>
                            </div>
                            {{ form.first_name|addClass:'block rounded-lg ps-10 px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-cyan-600 peer'}}
                        <label for="fname_signup" class="absolute ps-10 text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">First Name</label>
                    </div>
                    <div class="relative mb-5">  
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">  
                            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" className="w-6 h-6">
                                <path fillRule="evenodd" d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z" clipRule="evenodd" />
                            </svg>  
                        </div>        
                        {{ form.last_name|addClass:'block rounded-lg ps-10 px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-cyan-600 peer'}}
                        <label for="lname_signup" class="absolute ps-10 text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Last Name</label>
                    </div>
                    <div class="relative mb-8">  
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">  
                            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" className="w-6 h-6">
                                <path fillRule="evenodd" d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z" clipRule="evenodd" />
                            </svg>  
                        </div>        
                        {{ form.institution|addClass:'block rounded-lg ps-10 px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-cyan-600 peer'}}
                        <label for="inst_signup" class="absolute ps-10 text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Institution</label>
                    </div>  
                    <div class="flex justify-between mt-auto px-1">
                        <button @click="step = 1" type="button" class="w-24 items-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Previous</button>
                        <button @click="step = 3" type="button" class="w-24 items-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2">Next</button>
                    </div>                  
                </div> 
                <div class="flex flex-col w-full h-full hidden" :class="{'hidden': step != 3}">
                    <div class="flex justify-between items-center ms-2 mb-7">
                        <h3 class="text-2xl font-bold text-black">Verification</h3>
                        <a href="{% url 'natrosensor:login' %}" class="font-medium text-cyan-400 hover:underline block md:hidden me-2"> Login </a>
                    </div>
                    <div class="relative mb-5">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                                <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                                <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                            </svg>
                            </div>
                        <input type="text" id="code_signup" class="block rounded-lg ps-10 px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 bg-gray-50 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-cyan-600 peer" placeholder=" " />
                        <label for="code_signup" class="absolute ps-10 text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Verification Code</label>
                    </div>
                    <div class="relative mb-8 ms-2">  
                        <span class="text-black text-sm"> Didn't get the code? <a href="#" class="font-medium text-blue-600 hover:underline"> Resend code </a></span>
                    </div> 
                    <div class="flex justify-between mt-auto px-1">
                        <button @click="step = 2" type="button" class="w-24 items-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Previous</button>
                        <button type="submit" class="w-24 items-center text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2">Submit</button>
                    </div>                  
                </div>              
            </form>
        </div>
    </div>
</div>
{% endblock content %}